

    <div class="container mt-5" id="my_cont">
        <div class="row">
            <div class="col-6">
                <app-playlists-list [items]="playlists" [selected]="selected" (selectedChange)="selected = $event" (addEl)="add()" [mode]="mode"></app-playlists-list>
            </div>
            <div class="col-6">
                <!-- <div class="col" [hidden]="mode !== 'details'">
                    <app-playlist-details></app-playlist-details>
                    <button class="btn btn-info" (click)="edit()">Edit</button>
                  </div> -->

                  <div class="col" *ngIf="mode !=='edit' && selected">
                    <app-playlist-details [selectedDetails]="selected" (editedDetails)="edit($event)"></app-playlist-details>
                    <!-- <button class="btn btn-info" (click)="edit()">Edit</button> -->
                    
                  </div>
                
                  <!-- <div class="col" [hidden]="mode !== 'edit'">
                    <app-playlist-editor></app-playlist-editor>
                    <button class="btn btn-info" (click)="cancel()">Cancel</button>
                  </div> -->

                  <div class="col" *ngIf="mode !=='details'">
                    <app-playlist-editor [selectedDetails]="selected" (editedCancel)="cancel($event)" (editedDelete)="deleteEl($event)" (saveEl)="save($event)"></app-playlist-editor>
                    <!-- <button class="btn btn-info" (click)="cancel()">Cancel</button> -->
                  </div>
            </div>
        </div>
    </div>




