

<div class="row">
  <div class="col">
    <app-search-form (searched)="search($event)"></app-search-form>
  </div>
</div>
<div class="row">
  <div class="col">
    <app-results-grid [albums]="results"></app-results-grid>
  </div>
</div>