
<div class="list-group">
    <div class="list-group-item" [class.active]="selected?.id === playlist.id" *ngFor="let playlist of playlists; index as i " (click)="select(playlist)">
      {{i+1}}. {{playlist.name}}
    </div>
  </div>

<button class="btn btn-info m-5" (click)="add()">Add new</button>
