<div class="input-group mb-3">
  <input
    type="text"
    class="form-control"
    placeholder="Search"
    [(ngModel)]="searchElem"
  />
  <button class="btn btn-outline-secondary" type="button" (click)="search(searchElem)">
    Search
  </button>
</div>

