
<h2 class="mb-4">- PLAYLIST EDITOR -</h2>

<div class="form-group mb-3">
    <label class="mb-4">Name:</label>
    <input type="text" class="form-control" [(ngModel)]="draft.name">
  </div>
  
  <div class="form-group mb-3">
    <label><input type="checkbox" [(ngModel)]="draft.public"> Public</label>
  </div>
  
  <div class="form-group mb-3">
    <label class="mb-4">Description:</label>
    <textarea class="form-control" [(ngModel)]="draft.description"></textarea>
  </div>

<button class="btn btn-warning m-3" (click)="click(selected)">Cancel</button>
<button class="btn btn-danger m-3" (click)="deleteEl(selected)">Delete</button>
<button class="btn btn-success m-3" (click)="save(draft)">Save</button>