

<nav class="navbar navbar-expand navbar-dark bg-dark mb-3">
  <div class="container">
    <a class="navbar-brand" href="#">MusicApp</a>
    <button class="navbar-toggler" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#/playlists">Playlists</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#/music/search">Search</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<div class="container">
  <div class="row">
    <div class="col mt-5 mb-5">
      <h1>Hello {{title}}</h1>

      <router-outlet></router-outlet>
    </div>
  </div>
</div>



