<h2 class="mb-4">- MY PLAYLIST -</h2>

<dl [title]="selected?.name" [style.font-size.px]="fontSize">
  <dt class="mb-4">Name:</dt>
  <dd>{{ selected.name }}</dd>

  <dt class="mb-4">Public:</dt>
  <dd
    class="isVisible"
    [class.isPrivate]="selected.public"
    [class.isPublic]="!selected.public"
  >
    {{ selected.public ? "Yes" : "No" }}
  </dd>

  <dt class="mb-4">Desciption:</dt>
  <dd>{{ selected.description }}</dd>
</dl>

<button class="btn btn-info" (click)="click(selected)">Edit</button>
